.style1{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.link1{
color: darkgray;
margin-right: 30px;
text-decoration: none;

}
.link2{
color: darkgrey;
margin-right: 30px;
text-decoration: none;
}
.text1{
color: darkgray;
width: 300px;
height: 20px;
margin-right: 30px;
text-align: center;
}
.botton1{
margin-right: 400px;
}
.text2{
    color: rgb(14, 13, 13);
    width: 50px;
    height: 20px;
    margin-right: 75px;
    padding: 10px 10px;
    text-align: center;
}
.text3{
    width: 70px;
    height: 20px;
    margin-right: 75px;
    
}
.save{
    display: contents;
}