<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ブログ</title>
</head>
<body>
    <div>
        <ul>
        <li class="text1"><input type="text" value="キーワードを検索してみよう" ></li>
        <li class="start"><a href="/save" >✐投稿</a></li>
        <li class="start"><a href="/login" >ログイン</a></li>
        <li><a href="/registration">
        <input type="submit" value="会員登録"></a></li>
            </ul>
        </div>
        <hr>
    

    <div>
        <p></p>
    </div>
</body>
</html>