<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head('ブログ一覧')}"></head>

<body>
   <div th:replace="~{layout :: header}"></div>
    <div>
        <h1>ブログ一覧</h1>
        <div class="name">
            <ul th:each="blog : ${blog}" class="name1">
                <li><a th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}"></a></li>
                <li class="class_p">ユーザー名:<div class="class_p" th:text="${blog.name}"></div></li>
            </ul>
        </div>
    </div>
</body>

</html>