<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head('投稿画面')}"></head>

<body>
    <div th:replace="~{layout :: header}"></div>

    <div>
           <form action="/blog"  method="post" class="save">
            <label for="name">名前:</label><br>
            <input type="text" id="name" name="name" placeholder="名前を入力してください"><br>
            <label for="title">タイトル:</label><br>
            <input type="text" name="title" id="title" placeholder="入力してください"><br>
            <label for="notes">内容:</label><br>
            <input type="text" name="notes" id="notes" placeholder="入力してください">
            <li  ><input type="submit" value="✐投稿" ></li>
            </form>
             <a href="/blog"><input type="submit" value="ブログ一覧へ戻る"></a>
    </div>
    </body>
</html>